/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Off-black > black
$black: rgb(15,15,15);

// Applies to: body text;
$text: $black;

// Applies to: titles; text bolded with <strong>
$text-strong: #000000;   

// Primary colors
// primary-off should be a slightly muted version of primary
$primary: white;
$primary-off: whitesmoke;

$primary-invert: invert($primary);

// Secondary colors
$secondary: #B11F32;
$secondary-off: #920b1d;

$secondary-invert: invert($secondary);

// Resolve Prism/Bulma conflicts 
// https://www.darraghoriordan.com/2019/01/20/bulma-prismjs-in-gatsby-css-conflicts/
.token.tag,
.token.content,
.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

// Default prismJS comment highlighting doesn't pass accessibility checks (contrast is 2.7)
.token.comment,
.token.prolog,
.token.doctype,
.token.cdat {
  color:#3D9970;
}

/* Import the rest of Bulma */
@import '~bulma';

