/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Define bases
$black: rgb(15,15,15);
$black-off: rgb(30,30,30);
$white: rgb(255,255,255);
$white-off: rgb(245,245,245);

//// DARK MODE ////
$primary: $black; // Primary colors
$primary-off: $black-off; // A slightly muted version of primary
$text: $white-off; // Applies to body text
$text-strong: $white; // Applies to titles; text bolded with <strong>

// // LIGHT MODE ////
// $primary: $white; // Primary colors
// $primary-off: $white-off; // A slightly muted version of primary
// $text: $black-off; // Applies to body text
// $text-strong: $black; // Applies to titles; text bolded with <strong>

// Secondary colors
$secondary: #B11F32;
$secondary-off: #920b1d;

// Inverts for text etc.
$primary-invert: invert($primary);
$secondary-invert: invert($secondary);

// Resolve Prism/Bulma conflicts 
// https://www.darraghoriordan.com/2019/01/20/bulma-prismjs-in-gatsby-css-conflicts/
.token.tag,
.token.content,
.token.number,
.token.operator {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

// Default prismJS comment highlighting doesn't pass accessibility checks (contrast is 2.7)
.token.comment,
.token.prolog,
.token.doctype,
.token.cdat {
  color:#3D9970;
}

// Better code formatting
// Code formatting for chunks
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: $black; 
}

// Inline code chunks
code {
  background: $primary !important;
}

// But don't apply that style to the code blocks
pre code {
  background: transparent !important;
}

/* Import the rest of Bulma */
@import '~bulma';

